language: node.js
node_js:
  - "6"
install:
  - npm init
  - npm install -g firebase-tools
  - npm install -g firebase-functions@2.1.0
  - npm install -g firebase-admin@6.0.0
script:
  - firebase deploy --token $FIREBASE_TOKEN
after_success:
  - echo "Deploy to Firebase succeeded"