language: node.js
node_js:
  - "6"
script:
  - echo "Deploying to Firebase Hosting"
  - cd functions
install:
  - npm install -g firebase-tools
  - npm install -g firebase-functions@2.1.0
  - npm install -g firebase-admin@6.0.0
after_success:
  - firebase deploy --token $FIREBASE_TOKEN