language: node_js
node_js:
  - "10"
before_script:
  - cd functions
  - npm install -g firebase-tools@latest
  - npm install --save --save-exact
  - cd ..
script:
  - firebase use default
  - firebase deploy --token $FIREBASE_TOKEN
after_success:
  - echo "Deploy to Firebase succeeded"