<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../images/metarovericonblack_fav.ico" />
    <link rel="icon" sizes="192x192" href="../images/icon.png">
    <meta name="theme-color" content="#1d9c5b">
    <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="MetaRover is a Google Sheets Add-on for Search Engine Optimization (SEO) Audits - Page Not Found 404">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>MetaRover Page Not Found</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="../css/material.blue_grey-blue.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Firebase JS  update the version number as needed -->
    <script defer src="/__/firebase/4.4.0/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/4.4.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/4.4.0/firebase-database.js"></script>
    <script defer src="/__/firebase/4.4.0/firebase-messaging.js"></script>
    <script defer src="/__/firebase/4.4.0/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <!-- Close Firebase JS -->
    <!-- Load Util Scripts -->
    <script defer src="../js/utils.js"></script>
    <!-- Load GTM -->
    <script async src="../js/gtm.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row metarover_sheet_animation">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">MetaRover | A Google Sheets Add-on for SEO Audits</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link" href="/">About MetaRover</a>
                    <!--<a class="mdl-navigation__link premium" href="premium"><i class="material-icons dollar_icon">monetization_on</i>Premium Features</a>-->
                     <a class="mdl-navigation__link" href="demo-videos">Demo Videos</a>
                     <a class="mdl-navigation__link" href="report-issue">Report an Issue</a>
                     <a class="mdl-navigation__link" href="privacy-policy">Privacy Policy</a> 
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="/">About MetaRover</a>
                <!--<a class="mdl-navigation__link premium" href="premium">Premium Features</a>-->
                <a class="mdl-navigation__link" href="demo-videos">Demo Videos</a>
                <a class="mdl-navigation__link" href="report-issue">Report an Issue</a>
                <a class="mdl-navigation__link" href="privacy-policy">Privacy Policy</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text" style="color:crimson;">404 - Page not found</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img style="filter: grayscale(100%);" class="article-image" src="https://imgs.xkcd.com/comics/spirit.png" border="0" alt="">
                    </div>

                     <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"></h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                           
                        </div>
                    </div>                
                </div>

            </div>  
        </main>

        <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo"><span id="metarover-copyright"></span><span id="loadFirebase">Firebase SDK Loading&hellip;</span></div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="report-issue">Help</a></li>
                    </ul>
                </div>
            </footer>

    </div>
    <script src="../js/material.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        // // The Firebase SDK is initialized and available here!
        //
        // firebase.auth().onAuthStateChanged(user => { });
        // firebase.database().ref('/path/to/ref').on('value', snapshot => { });
        // firebase.messaging().requestPermission().then(() => { });
        // firebase.storage().ref('/path/to/ref').getDownloadURL().then(() => { });
        //
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        try {
          let app = firebase.app();
          let features = ['auth', 'database', 'messaging', 'storage'].filter(feature => typeof app[feature] === 'function');
          let firebaseLink = "<a class='firebaseLink' href='https://firebase.google.com/docs/hosting/quickstart'>Firebase</a>";
          document.getElementById('loadFirebase').innerHTML = ` | Website powered by 🔥${firebaseLink}🔥 `;
          console.log(`🔥Firebase SDK loaded with ${features.join(', ')}🔥`);
        } catch (e) {
          console.error(e);
          document.getElementById('loadFirebase').innerHTML = 'Error loading the Firebase SDK, check the console.';
        }
        document.querySelector("#metarover-copyright").insertAdjacentHTML("afterbegin",{{{copyrightText}}});
        
      });
    </script>


</body>

</html>
